	<div class="map">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1791.7475705262568!2d-53.049428999999996!3d-26.08275099999989!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc986d164eb36143c!2sInjecar+Caregnatto!5e0!3m2!1sen!2sbr!4v1405689167683" width="600" height="450" frameborder="0" style="border:0"></iframe>
	</div>
