<header class="fixed">
      <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <li class="name">
                <a href="/"><img class="logo_position" src="/img/logo.png"></a>
              </li>
               
              <li class="toggle-topbar"><a href="#"><span><img src="../img/menu.png"></span></a></li>
            </ul>
            <section class="top-bar-section">
              <ul class="right">
                <li><a href="/clientes">Localização</a></li>
              </ul>
               <ul class="right">
                <li><a href="/inventtos">Agendamento</a></li>
              </ul>
               <ul class="right">
                <li><a href="/inventtores">Contato</a></li>
              </ul>
              <ul class="right">
                <li><a href="/empresa">Quem Somos</a></li>
              </ul>
             
            </section>
      </nav>
</header>