/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require refinery/formatting
 *= require refinery/theme
 *= require_self
 *= require_tree .
 */
html, div, nav, h1,h2,h3,h4, h5, a{
	font-family: 'Open Sans', sans-serif !important;

}
section{
	text-align:center;
}
body{
	list-style:none;
}
footer{
	padding: 15px;
	background: #FF4A29;
	color: #fff;
  	z-index: 98;
}
.row{

	margin: 0 auto;
	text-align: center !important;
	max-width: 80em !important;
}
.row div{
	text-align: center;
}

header{
	border-top: solid 7px #008CBA;
	padding: 10px 0 10px 0;
	box-shadow: 0 -24px 8px 27px rgba(0,0,0,0.3);
	background: #ffffff !important;
}
.fixed nav.top-bar{
	background: #fff;
	color: #333;
}
.top-bar-section {

  position: fixed;
}
.fixed .top-bar-section > .right {
    background: #fff;
	color: #333;
}
#head {
}
nav.menu ul {
 float: right !important;
}
.fixed section.top-bar-section li:not(.has-form) a:not(.button){
	background: #fff;
	color: #333;
}
.fixed section.top-bar-section li:not(.has-form) a:not(.button):hover{
		background: #fff;
		color: red;
}
.top-bar.expanded .title-area {
	background: #fff;
}
a{
	color: #59ABE3;
}
a:hover{
	color: #4183D7;
}
footer a{
	color: #ffffff;
}
footer a:hover{
	color: #0098DF;
}
.slider{
	top:0;
	width: 95%;
    margin: 0 auto;

}
.orbit-container ul li img{
	width: 100vw !important;
}
.orbit-prev, .orbit-next{
	display: block !important;
	background: #333 !important;
}
ul{
	list-style:none;
}
.text-quem-somos .bgwhite{
  margin: 0 auto;
}
.bgwhite{
	padding: 4%;
	background: #ffffff;
	color: #333;
    font-size: 20px;
    text-align: center;

}
.bgblue{
	padding: 4%;
	background: #6BB9F0;
	color: #ffffff !important;
	text-align: center;
	font-size: 20px;
}
.bgblue h1, .bgblue h2{
	color: #fff;

}
.copyright{
	text-align: center;
	padding: 2%;

}
.copyright_inventto{
	width: 100%;
	background: #222;
	text-align: center;
	padding: 1%;
	color: #ffffff;
}
.copyright_inventto a{
	color: #ffffff;
}
.carouselSlide{
	padding: 2%;
}
.orbit-bullets, .orbit-slide-number{
	display: none;
}
.textHomeSmall span{
	width:30%;
	font-size: 18px;
	padding: 2%!important;
	text-align: justify;
}
.slider{
  padding: 0 !important;
}
.large{
	font-size: 50px;
	text-align: center;
}
.large img{
	width:30%;
}
.bgspacing{
	top: 10%;
}
hr{
	border: 1px solid #fff !important;
}
.slide-content{
  position: absolute;
  float: right;
  text-align: center;
  width: 100%;
}
.slide-content h1{
	font-size: 1.5em;
	color: white;
	width: 100%;
	position:absolute;
	margin-top: 15%;
	text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
	-moz-text-shadow: 0px 0px 12px rgba(0, 0, 0, 1);
}
.map{
	 	position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
}
.map iframe{
		position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}
input{
	border: none;
	border-radius: 5px;
	padding: 2%;
}
input[type="submit"]{
	color: #ffffff;
	background: #008CBA;
}
input[type="submit"]:hover{
	background: #55B8C4;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.no_side_body > h1{
  display: none;
}
.columns{
	max-width: 400px;
	text-align: center;
}
.columns img{
	text-align: center;
	height:auto;
}
.orbit-bullets, .error{
	display: none !important;
}

.quemsomos{
	font-size: 25px;
	max-width: 850px;
	text-align: justify;
	margin: 0 auto;
}
.quemsomos ul>li{
	font-size: 25px !important;
}

.message-error, .message-notice {
  text-align: center;
  margin: 20px;
  font-size: 20px;
  font-style: italic;
}
.message-notice {
  color: #00b050;
  margin-left: 150px;
}
.message-error {
  color: red;
}
#head {
  padding: 0px;
}

.top-bar-section #menu > ul > li:nth-child(1) {
	background: #0F6A8F !important;
}
.top-bar-section #menu > ul > li:nth-child(2) {

	background: #0391DB !important;
}
.top-bar-section #menu > ul > li:nth-child(3) {
  background: #55B8C4 !important;
}
.top-bar-section #menu > ul > li:nth-child(4) {
  background: #8CCCCA !important;
}
.top-bar-section #menu > ul > li:nth-child(5) {
	background: #EB6233 !important;
}

.top-bar-section #menu > ul > li > a {
  background: transparent !important;
  line-height: 5em;
  color: #fff;
}
.top-bar-section #menu > ul > li > a:hover {
  background: #fff !important;
  color: #0098DF;
}
#banners > div {
  margin-top: 2%;
}
#banners > div img {
 opacity: 1.0;
}
#banners > div img:hover {
 opacity: 0.6;
}
#menu{
	width:75%;
}
#menu ul{
	white-space:nowrap;
}
#menu > ul > li{
	width:20%;
	right:0 !important;
	white-space:nowrap;
}
#menu > ul > li > a{
	font-weight:bold;
}
.slider-cards{
    float: right;
    margin-right: 10%;
}
.home_texto_valores {
  text-align: justify;
}
.home_valores {
  float: left;
  width: 50%;
  padding: 2%;
}
.f-topbar-fixed {
  padding-top: 125px !important;
}
