<!DOCTYPE HTML>
<html>

  <%= render template: "layouts/head.html.erb" %>

  <body>
    <%= render template: "layouts/header.html.erb" %>
    <div class="page-content">
      <div class="wrap">
       <%= yield %>
      </div>
    </div>

    <%= render template: "layouts/footer.html.erb" %>
    <script src="/assets/vendor/jquery.js"></script>
    <script src="/assets/vendor/modernizr.js"></script>
    <script src="/assets/foundation/foundation.js"></script>
    <script src="/assets/foundation/foundation.orbit.js"></script>
    <script src="/assets/foundation.min.js"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
