<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mecânica Injecar Caregnatto</title>
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="http://www.google.com.br">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/foundation.css">
    <link rel="stylesheet" href="/assets/foundation-icons/foundation-icons.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/application.css">
  </head>
  <body>
    <%= render template: "layouts/header.html.erb" %>
    <div class="page-content">
      <div class="wrap">
        <%= yield %>
      </div>
    </div>

    <%= render template: "layouts/footer.html.erb" %>
    <script src="/assets/vendor/jquery.js"></script>
    <script src="/assets/vendor/modernizr.js"></script>
    <script src="/assets/foundation/foundation.js"></script>
    <script src="/assets/foundation/foundation.orbit.js"></script>
    <script src="/assets/foundation.min.js"></script>
    <script>$(document).foundation();</script>
  </body>
</html>
