<footer class="footer-bottom">
  <div class="row">
    <div class="large-3 columns">
      Site
      <hr>
      <!--<ul class="home-social ">
        <li><a href="/quemsomos" class="fi-web"> Quem Somos </a></li>
        <li><a href="/contato" class="fi-telephone"> Contato </a></li>
        <li><a href="/agendamento" class="fi-calendar"> Agendamento</a></li>
        <li><a href="/localizacao" class="fi-map"> Localização </a></li>
      </ul> -->
      <%= menu_refinery_footer.to_htm.%>
    </div>


    <div class="large-3 columns">
      Social
      <hr>
      <ul class="home-social ">
        <li><a href="https://www.facebook.com/" class="facebook fi-social-facebook"> Facebook </a></li>
      </ul>
    </div>

    <div class="large-3 columns">
      Contato
      <hr>
      <ul class="home-social ">

        <li><span class="fi-telephone"> (46) 3524-8263</span></a></li>
      <li><a href="mailto:comercial@academi.as" class="fi-mail"> Email</a></li>
    </ul>
  </div>



  <div class="large-3 columns">
    <div class="fb-like-box" data-href="https://www.facebook.com/pages/Inventto/100538040118577" data-colorscheme="dark" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
  </div>



</div>
<div class="copyright">© 2013–<%= Time.now.year %> Injecar Caregnatto, Todos os direitos reservados.
  </div>
</footer>

<div class="copyright_inventto"> <img src="../assets/inventto.png" /> © 2013–<%= Time.now.year %> desenvolvido por <a href="http://invent.to" target="_blank">Invent.to   </a>.</div>
