<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mecânica Injecar Caregnatto</title>
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="http://www.google.com.br">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/foundation.css">
    <link rel="stylesheet" href="/assets/foundation-icons/foundation-icons.css">
    <link rel="stylesheet" href="/assets/application.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />

</head>
