<header class="fixed" id="head">
  <nav class="top-bar" data-topbar="data-topbar">
    <ul class="title-area">
      <li class="name">
        <a href="/home"><img class="logo_position" src="/assets/injecar.png" /></a>
      </li>
      <li class="toggle-topbar"><a href="#"><span><img src="/assets/menu.png" /></span></a></li>
    </ul>
    <section class="top-bar-section">
      <%= menu_refinery_top.to_html %>
    </section>
  </nav>
</header>
